@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f5f5;
}

label {
    display: block;
}

button * {
    pointer-events: none;
}

@layer utilities {
    .force-dark {
        @apply bg-md-dark-primary-container text-md-dark-primary
    }
}